{% extends "base.html" %}

{% block body %}
<h1>Page Administrateur</h1>
<p> Pour créer un article, veuillez completer les champs ci-dessous </p>
<form action="" method="post">
    <div class="form-group">
        {{ form.titre.label }} <br>
        {{ form.titre }} <br>
        {{ form.résumé.label }} <br>
        {{ form.résumé }} <br>
        {{ form.texte.label }} <br>
        {{ form.texte() }} </p>
    </div> <br> 
    {{ form.submit }}
    {{ form.csrf_token }}

    <div> <br> <br>
        {{ form.titre.label }} <br>
        {{ form.titre }} <br>
        
    </div> 
        {{ form.submit() }}
        {{ form.csrf_token }}



</form>
{% endblock %}