{% extends "base.html" %}

{% block body %}
<h1>Page Administrateur</h1>
<p> Pour créer un article, veuillez completer les champs ci-dessous </p>
<form action="" method="post">
    <div class="form-group">
        {{ form.titre.label }} <br>
        {{ form.titre }} <br>
        {{ form.résumé.label }} <br>
        {{ form.résumé }} <br>
        {{ form.texte.label }} <br>
        {{ form.texte() }} </p>
    </div> 
    {{ form.submit }}
    {{ form.csrf_token }} <br>
</form>
    <p> Pour modifier un article, veuillez completer les champs ci-dessous </p>
    
<form action="" method="post"> 
    {{ form2.titre_a_modifier.label }}<br>
    {{ form2.titre_a_modifier }} <br>
    {{ form2.nouveau_texte.label }} <br>
    {{ form2.nouveau_texte }} <br>
    {{ form2.submit }}
    {{ form2.csrf_token }} <br>
</form>

{% endblock %}