{% extends "base.html" %}

{% block body %}
    
    <h1>{{ article["titre"] }}</h1>
    <p>{{ article["texte"] }}</p>
    <p>{{ article["date"] }}</p>
    <ul>
        {% for commentaire in article["commentaires"] %}
            <li>{{ commentaire }}</li>
        {% endfor %}
    </ul>

    <form action="" method="post">
        <div>
            {{ form.commentaire.label }} <br>
            {{ form.commentaire }} <br>
            
        </div> 
            {{ form.submit() }}
            {{ form.csrf_token }}
    </form>
    {% if form2 %}
    <p>
        Modifier l'article 
        
    </p>
    <form action="" method="post">
    {{ form2.nouveau_texte.label }} <br>
    {{ form2.nouveau_texte }} <br>
    {{ form2.submit }}
    {{ form2.csrf_token }} <br>
    </form>
    {% endif %}
{% endblock %}