<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mon super blog sur l'IA !</title>
</head>
<nav>
    <h1>Mon Super Blog sur l'IA !</h1>
    <a href="{{ url_for('accueil') }}">Accueil du Blog</a>

    {% block content %}

    {% if 'username' in session  %}
        <div> bonjour {{login}}</div>
    {% else %}
        <a href="{{ url_for('login') }}">Se connecter</a>
        <a href="{{ url_for('register') }}">Créer un compte</a>
    
    {% endif %}
    {% endblock content %}
</nav>

<body id="top">
    {% block body %}{% endblock %}
    <a id="btn-top" href="#top">^</a>
</body>
</html>